body {
    overflow:hidden;
}
/* input {
    width: 75px;
} */
canvas {
    width: -moz-available;
    width: -webkit-fill-available;
    height: -moz-available;
    height: -webkit-fill-available;
}
div.box {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    padding: 5px;
}
/* 
#menu .modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
} */